<!DOCTYPE html>
<html>
  <head>
    <title>Movie Catalog</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Movies</h1>

    <table>
      <thead>
        <tr>
          <th>Movie</th>
          <th>year</th>
          <th>rating</th>
          <th>genre</th>
          <th>studio</th>
        </tr>
      </thead>
      <tbody>
        <%movies.each do |movie|%>
          <tr>
            <td><a href="/movies/<%=movie.id%>"><%=movie.title%></a></td>
            <td><%=movie.year%></td>
            <td><%=movie.rating%></td>
            <td><%=movie.genre%></td>
            <td><%=movie.studio%></td>
          </tr>
        <%end%>
      </tbody>
    </table>



  </body>
</html>
